/** Add css rules here for your application. */

html, body { 
	margin: 0;
	padding: 0;
	height: 100%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
}

body, table td, select, button {
	font-family: Verdana;
	font-smooth: always;
	font-size: small;
}

.background {
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */ 
	height:100%; /* Mindesthöhe für den IE */ 
	overflow: hidden !important; /* FF Scroll-leiste */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aabb99));
	background: -moz-linear-gradient(top,  #fff,  #aabb99);
}

.main {
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */ 
	height:100%; /* Mindesthöhe für den IE */ 
}

.personRenderer {
	border: solid 1px #cce1ba;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #777;
	padding: .1em;
	color: #606060;
	background: #fff;
	width: 100%;
}

.personRenderer:hover {
	border: solid 1px #77bb55;
	background: #cce1ba
}

.evenRow {
	background: #fff
}

.oddRow {
	background: #cce1ba
}

.viewer {
	padding: 1.5em;
	border-radius: 5px;
}

.formContainer {
	background: #ddddcc;
	padding: 1em;
	border: solid 1px;
	border-color: #aabb99;
	box-shadow: 3px 3px 3px #777;
}

.invalid {
	border-color: red;
	border-style: solid;
}

.cataloglistbox {
	width: 250px;
}

.humanBeingListBox {
	width: 350px;
}

.catalogGrid {
	width: 100%;
}


.historyEntry {
	border: solid 1px #cce1ba;
	padding: .5em;
	width: 100%;
}

.personalFile {
}

.buttonsPanel {
	background-color: #cce1ba;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.valueBagTitle {
	width: 100%; 
	font-size: 20px;
}

.searchResults {
	padding: .1em;
	border-radius: 5px;
}

.nameAndId {
	font-size: 28px;
	font-weight: bold;
}

.linkButton {
	cursor: pointer;
}

.linkButton:hover {
	background: #fff;
}

.formLabel {
	text-align: right;
	padding-right: 5px;
	width: 100px;
}

.form {
	text-align: left;
	vertical-align: top;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background: transparent;
  padding-top: 6px;
  padding-left: 5px;
}
.gwt-TabLayoutPanel {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: #77bb55;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  overflow: hidden;
  padding: 6px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  text-align: center;
  background: #cce1ba;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  font-weight: bold;
  cursor: default;
  background: #77bb55;
}

.gwt-SuggestBox {
	font-family: Verdana;
}

.gwt-TextArea {
	font-family: Verdana;
}

.gwt-TextBox {
	font-family: Verdana;
}