/** Add css rules here for your application. */


body, table td, select, button {
	font-family: Tahoma;
	font-smooth: always;
	font-size: small; 
}

/*
.background {
	min-height: 100%; 
	height:auto !important;  
	height:100%;  
	overflow: hidden !important;  
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cce1ba));
	background: -moz-linear-gradient(top,  #fff,  #cce1ba);
}
*/

.main {
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */ 
	height:100%; /* Mindesthöhe für den IE */ 
}

.resultTable {
	border-top:1px;
}

.hundertPercentWidth {
	width: 100%;
}

.hundertPercentHeight {
	height: 100%;
}

.marker {
	border:medium;
	background: #a11;
	width: 200px;
	height: 400px;
}

.roundCorners {
	border-radius: 5px;
}

.roleBox {
	border-style: outset;
	border-width: 1px;
	border-radius: 5px;
	vertical-align: middle;
	background-color: #fff;
}

.evenRow {
	background: #cce1ba;
}

.resultRow {
	cursor: pointer;
	width: 100%;
}

.tableHeader {
	background-color: #8E8E8E;
	font-weight: bold; 
}

.resultRow:hover {
	background-color: #59C660
}

.viewer {
	padding: 1.5em;
}

.formContainer {
	padding: 1em;
	background-color: #e0e0e0;
}

.invalid {
	border-color: red;
	border-style: solid;
}

.cataloglistbox {
	width: 250px;
}

.humanBeingListBox {
	width: 350px;
}

.catalogGrid {
	width: 100%;
}

.actTitle {
	background-color: #cce1ba;
}

.historyEntry {
	border: solid 1px #cce1ba;
	padding: .5em;
	width: 100%;
}

.personalFile {
}

.buttonsPanel {
	width: 100%;
	height: 38px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #cce1ba;
}

.valueBagTitle {
	width: 100%; 
	font-size: 20px;
}

.searchResults {
	padding: .1em;
}

.nameAndId {
	font-size: 14pt;
	font-weight: bold;
}

.linkButton {
	cursor: pointer;
}

.linkButton:hover {
	background: #fff;
}

.formLabel {
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
	width: 100px;
}

.formSubLabel {
	font-style: italic;
}

.docform {
	height: 100%;
	border:medium;
	text-align: left;
	vertical-align: top;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background: transparent;
  padding-top: 6px;
  padding-left: 5px;
}
.gwt-TabLayoutPanel {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: #59C660;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 6px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  text-align: center;
  background: #cce1ba;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  font-weight: bold;
  cursor: default;
  background: #59C660;
}

.gwt-SuggestBox {
	font-family: Tahoma;
}

.gwt-TextArea {
	font-family: Tahoma;
}

.gwt-TextBox {
	font-family: Tahoma;
}