/** Add css rules here for your application. */


body, table td, select, button {
	font-family: Calibri;
	font-smooth: always;
	font-size: small; 
}


.background {
	min-height: 100%; 
	height:auto !important;  
	height:100%;  
	overflow: hidden !important;  
/*
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(white));
	background: -moz-linear-gradient(top,  #FAFAFA,  white); */
}


.main {
	min-height: 100%; /* Mindesth�he f�r moderne Browser */
	height:auto !important; /* Important Regel f�r moderne Browser */ 
	height:100%; /* Mindesth�he f�r den IE */ 
}


.linkButton {
	cursor: pointer; 
}

.monthTable {
	background-color: white;
}

.dateColumn {
}

.timeRegistrationDate {
	font-size: large;
	border: none;
	font-style: italic;
	width: 5em; 
}

.leaveDay {
	font-style: italic;
	color: green;
	background-color: lime;
}

.sickLeaveDay {
	font-style: italic;
	color: white;
	background-color: red;
}

.leaveStart {
	font-weight: bold;
	font-style: italic;
	color: white;
	background-color: green;
}

.leaveEnd {
	font-weight: bold;
	font-style: italic;
	color: white;
	background-color: blue;
}

.datePickerDayIsFiller {
  color: #999;
  font-weight:normal;
  visibility: hidden;
}

.datePickerDayIsToday {
  padding: 3px;
  color: black;
  background: none;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}



.weekendDate {
	font-style: italic;
	color: red;
}

.headerDate {
	font-size: smaller;
	white-space: nowrap;
	width: 3em;
}

.timeSheetRow {
	font-size: smaller;
	border-top-style: solid;
	border-width: 1px;
	border-color: #DDD;
	width: 8em;
	height: 2em;
}

.timeSheetRow:HOVER {
	background-color: silver;
	cursor: pointer;
}

.workingDate {
	font-size: larger;
}

.positiveBalance {
	font-size: large;
	font-weight: bold;
	color: green;
}

.negativeBalance {
	font-size: large;
	font-weight: bold;
	color: red;
}

.weekendCell {
	border-color: red;
	border-bottom: solid;
	border-width: 1px;
}

.linkButton:hover {
	background-color:silver;
}


.participationEditor {
	z-index: 99;
	padding-top: 15px;
	padding-left: 25px;
	padding-bottom: 25px;
	width: 160px;
	height: 160px;
	background: url(images/post-it-note.png);
	background-size: contain; 
	background-repeat: no-repeat;
}

.participationDateLabel {
	font-style: italic;
	font-weight: bold;
	font-stretch: ultra-condensed;	
}

.participationEntityLabel {
	font-style: italic;
}

.participationDateButton {
	font-style: italic;
	cursor: pointer;
}


.participationTimeCell {
	background-color: transparent;
	border: none;
}

.topOfTheRocks {
	z-index: 99;
}

.higherThanHigh {
	z-index: 999;
}


.resultTable {
}

.selectedRow {
  font-weight: bold;
  background: #63D36A;
  font-size: larger;
}

.resultCell {
	font-size: large;
}

.sourceCode {
	font-family: monospace;
	font-size: small;
}


.hundertPercentWidth {
	width: 100%;
}

.hundertPercentHeight {
	height: 100%;
}

.marker {
	border:medium;
	background: #a11;
	width: 200px;
	height: 400px;
}

.roundCorners {
	border-radius: 5px;
}

.roleBox {
	border-style: outset;
	border-width: 1px;
	border-radius: 5px;
	vertical-align: middle;
	background-color: #FAFAFA;
}

.evenRow {
	background: white;
}

.resultRow {
	cursor: pointer;
	width: 100%;
}

.tableHeader {
	background-color: #8E8E8E;
	font-weight: bold; 
}

.resultRow:hover {
	background-color: #63D36A
}

.viewer {
	padding: 1em;
}

.formContainer {
	padding: 0.5em;
}

.invalid {
	border-color: red;
	border-style: solid;
}

.cataloglistbox {
	width: 250px;
}

.humanBeingListBox {
	width: 350px;
}

.catalogGrid {
	width: 100%;
}

.actTitle {
	background-color: white;
	font-size: larger;
	height: 100%;
}

.theMessage {
	font-size: larger;
}

.historyEntry {
	border: solid 1px white;
	padding: .5em;
	width: 100%;
}

.personalFile {
}

.buttonsPanel {
	width: 100%;
	height: 3em;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #EEE;
}

.valueBagTitle {
	width: 100%; 
	font-size: 20px;
}

.searchResults {
	padding: .1em;
}

.nameAndId {
	font-size: x-large;
	font-weight: bold;
}

.linkButton {
	cursor: pointer;
}

.linkButton:hover {
	background: #FAFAFA;
}

.closableTab {
	padding: 0px;
}


.formLabel {
	text-align: right;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.formSectionTitle {
	text-align: left;
	vertical-align: top;
	font-variant: small-caps;
	font-size: large;
	padding-left: 10px;
	padding-top: 0px;
}

.requiredLabel {
/* 	font-weight: bold;
	text-decoration: underline;
 */}

.required {
}


.formItem {
	vertical-align: top;
	padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 0px;
}


.formSubLabel {
	font-style: italic;
}

.formSubLine {
	margin-left: -5px;
}



.invalidContent {
	background-color: red;
}

.docform {
	text-align: left;
	vertical-align: top;
	background-color: #CCC;
}

