/** Add css rules here for your application. */

html, body { 
	margin: 0;
	padding: 0;
	height: 100%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
	font: Tahoma, Helvetica, sans-serif;
}

.background {
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */ 
	height:100%; /* Mindesthöhe für den IE */ 
	overflow: hidden !important; /* FF Scroll-leiste */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cce1ba));
	background: -moz-linear-gradient(top,  #ffffff,  #cce1ba);
}

.main {
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */ 
	height:100%; /* Mindesthöhe für den IE */ 
}

.personRenderer {
	font: 14px/100% Tahoma, Helvetica, sans-serif;
	border: solid 3px #cce1ba;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #777;
	padding: .5em;
	color: #606060;
	background: #fff;
	width: 90%;
}

.viewer {
	border: solid 3px #cce1ba;
	padding: 1.5em;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#b4b4b4));
	background: -moz-linear-gradient(top,  #dadada,  #b4b4b4);
}

.formLabel {
	font: 14px/100% Tahoma, Helvetica, sans-serif;
	text-align: right;
	width: 100px;
}


.invalid {
	border-color: red;
	border-style: solid;
}

.cataloglistbox {
	width: 250px;
}

.humanBeingListBox {
	width: 350px;
}

.catalogGrid {
	width: 100%;
}


.historyEntry {
	font: 14px/100% Tahoma, Helvetica, sans-serif;
/*	border: solid 3px #cce1ba;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #777;
*/	padding: .5em;
	width: 90%;
}

.personRenderer:hover {
	border: solid 3px #42a62a;
}

.personalFile {
	border: solid 3px #cce1ba;
	padding: .5em;
	border-radius: 10px;
}

.buttonsPanel {
	background-color: #cce1ba;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.valueBagTitle {
	width: 100%; 
	font: 20px/100% Tahoma, Helvetica, sans-serif;
}

.searchResults {
	background-color: #fff;
	border: solid 3px #cce1ba;
	padding: .5em;
	border-radius: 10px;
}

.nameAndId {
	font: 24px/100% Tahoma, Helvetica, sans-serif;
/*	text-shadow: 1px 1px 1px #777; */
	font-weight: bold;
}

.linkButton {
	cursor: pointer;
}

.linkButton:hover {
	background: #fff;
}

.formLabel {
	font: 14px/100% Tahoma, Helvetica, sans-serif;
	text-align: right;
	padding-right: 5px;
	width: 100px;
}

.form {
	text-align: left;
	vertical-align: top;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background: transparent;
  padding-top: 6px;
  padding-left: 5px;
}
.gwt-TabLayoutPanel {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: #42a62a;
  border-style: solid;
  border-width: 3px 2px 2px;
  border-radius: 10px;
  overflow: hidden;
  padding: 6px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  text-align: center;
  background: #cce1ba;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  font-weight: bold;
  cursor: default;
  background: #42a62a;
}


