/** Add css rules here for your application. */


body, table td, select, button {
	font-family: Calibri;
	font-smooth: always;
	font-size: small; 
}


.background {
	min-height: 100%; 
	height:auto !important;  
	height:100%;  
	overflow: hidden !important;  
/*
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DEE7D6));
	background: -moz-linear-gradient(top,  #FAFAFA,  #DEE7D6); */
}


.main {
	min-height: 100%; /* Mindesth�he f�r moderne Browser */
	height:auto !important; /* Important Regel f�r moderne Browser */ 
	height:100%; /* Mindesth�he f�r den IE */ 
}

.resultTable {
}

.sourceCode {
	font-family: monospace;
	font-size: small;
}


.hundertPercentWidth {
	width: 100%;
}

.hundertPercentHeight {
	height: 100%;
}

.marker {
	border:medium;
	background: #a11;
	width: 200px;
	height: 400px;
}

.roundCorners {
	border-radius: 5px;
}

.roleBox {
	border-style: outset;
	border-width: 1px;
	border-radius: 5px;
	vertical-align: middle;
	background-color: #FAFAFA;
}

.evenRow {
	background: #DEE7D6;
}

.resultRow {
	cursor: pointer;
	width: 100%;
}

.tableHeader {
	background-color: #8E8E8E;
	font-weight: bold; 
}

.resultRow:hover {
	background-color: #31A639
}

.viewer {
	padding: 1em;
}

.formContainer {
	padding: 0.5em;
}

.invalid {
	border-color: red;
	border-style: solid;
}

.cataloglistbox {
	width: 250px;
}

.humanBeingListBox {
	width: 350px;
}

.catalogGrid {
	width: 100%;
}

.actTitle {
	background-color: #DEE7D6;
	font-size: larger;
	height: 100%;
}

.theMessage {
	font-size: larger;
}

.historyEntry {
	border: solid 1px #DEE7D6;
	padding: .5em;
	width: 100%;
}

.personalFile {
}

.buttonsPanel {
	width: 100%;
	height: 3em;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #DEE7D6;
}

.valueBagTitle {
	width: 100%; 
	font-size: 20px;
}

.searchResults {
	padding: .1em;
}

.nameAndId {
	font-size: x-large;
	font-weight: bold;
}

.linkButton {
	cursor: pointer;
}

.linkButton:hover {
	background: #FAFAFA;
}


.formLabel {
	text-align: left;
	vertical-align: top;
	font-variant: small-caps;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.requiredLabel {
	font-weight: bold;
	text-decoration: underline;
}

.required {
}

.formSectionTitle {
	text-align: left;
	vertical-align: top;
	font-variant: small-caps;
	font-size: large;
	padding-left: 10px;
	padding-top: 0px;
}

.formItem {
	vertical-align: bottom;
	padding-left: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.formSubLabel {
	font-style: italic;
}

.formSubLine {
	margin-left: -5px;
}



.invalidContent {
	border-color: red;
	border-width: 1px;
}

.docform {
	text-align: left;
	vertical-align: top;
	background-color: #d5D5D5;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background: transparent;
  padding-top: 6px;
  padding-left: 5px;
}

.gwt-TabLayoutPanel {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: #31A639;
  border-style: solid;
  border-width: 1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  background: #DEE7D6;
  color: black;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  font-weight: bold;
  cursor: default;
  background: #31A639;
  color: white;
}

.gwt-SuggestBox {
	font-family: Calibri;
	font-weight: bold;
	 font-size: medium; 
}

.gwt-TextArea {
	font-family: Calibri;
	font-weight: bold;
	 font-size: medium; 
}

.gwt-TextBox {
	font-family: Calibri;
	font-weight: bold;
	 font-size: medium; 
}

.gwt-PasswordTextBox {
	font-family: Calibri;
	font-weight: bold;
	 font-size: medium; 
}


.gwt-ListBox {
	font-family: Calibri;
	font-weight: bold;
	 font-size: medium; 
}

.gwt-RadioButton {
	font-family: Calibri;
	font-weight: bold;
	 font-size: medium; 
}

.gwt-CheckBox {
	font-family: Calibri;
	font-weight: bold;
	 font-size: medium; 
}

.gwt-SplitLayoutPanel-HDragger {
background: #DEE7D6 url(images/thumb_vertical.png) center center no-repeat;
cursor: col-resize;
}

.gwt-Tree .gwt-TreeItem-selected {
background: #31A639;
}