html, html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body, table td, select, button {
	font-family: 'Calibri', sans-serif;
	font-smooth: always;
	font-size: medium;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.applicationHeader {
	background-color: white;
	height: 100%;
}

.applicationBackground {
	background-color: #CACACA;
}

.campaignRenderer {
	width: 100%;
	box-shadow: 3px 3px 5px #DDD;
}

.campaignList {
	width: 100%;
	padding: 3px;
}

.campaignName {
	font-size: larger;
	font-weight: bolder;
	border: none;
}

.campaignDescription {
	width: 99%;
	height: 100%;
	font-style: italic;
	font-weight: 100;
	border: none;
}

.evenRow {
	background-color: white;
}

.oddRow {
	background-color: #F0F0F0;
}

.hLabel {
	font-size: xx-large;
	font-weight: 900;
}

.mLabel {
	font-size: xx-small;
	font-weight: 100;
}

.workPatternEditorTable {
	border-spacing: 0px;
}

.slotRenderer {
	background-color: #1DA284;
	width: 100%;
	height: 20px;
}

.emptySlotRenderer {
	width: 100%;
	height: 20px;
}

.emptySlotRenderer:hover {
	background-color: #FBC02D;
}

.tabbedPanel {
	
}

.tabsWrapper {
	height: 100%;
	width: 100%;
}

.tabsWrapper-vertical {
	border-right: 1px #DDD solid;
}

.tabsWrapper-horizontal {
	border-bottom: 1px #DDD solid;
}

.tabsPanel {
	height: 100%;
	width: 100%;
	border-spacing: 3px;
}

.tabLabel {
	height: 100%;
	outline: none;
	border-bottom: 5px solid transparent;
	padding: 0.2em;
}

.hTabSeparator {
	height: 100%;
	width: 1px;
	background-color: #DDD;
}

.vTabSeparator {
	height: 1px;
	width: 100%;
	background-color: #DDD;
}

.tabLabel:hover {
	border-bottom-width: 5px;
	border-bottom-color: #004494;
	border-bottom-style: solid;
}

.tabLabel-selected {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #FBC02D;
	font-weight: bold;
}

.tabTextLabel {
	font-weight: normal;
	font-size: larger;
	font-family: inherit;
	border: none;
}

.tabTextLabelSize {
	font-size: larger;
}

.tabTextLabel-selected {
	font-weight: bold;
}

.slotAppointmentPanel {
	background-color: white;
	height: 100%;
	width: 100%;
}

.slotAppointmentRow {
	background-color: white;
	vertical-align: top;
}

.appointmentRenderer {
	border: 1px solid #DDD;
	border-left: 5px solid #DDD;
	min-width: 20em;
	height: 2em;
}

.appointmentRenderer-ACCEPTED {
	border-left: 5px solid #1DA284;
}

.appointmentRenderer-TENTATIVE {
	border-left: 5px solid #0057c0;
}

.appointmentRenderer-DECLINED {
	border-left: 5px solid #FF2300;
}

.mainLabel {
	font-weight: bold;
	font-size: larger;
}

.mainLabel2 {
	font-size: larger;
	color: #AAA;
}

.slotTable {
	border-spacing: 0px;
}

.commentLabel {
	font-style: italic;
	font-size: smaller;
}

.hyperLink {
	color: blue;
	cursor: pointer;
}

.hyperLink:hover {
	text-decoration: underline;
}

.frontOfficeHeader {
	
}

.frontOfficeCampaignName {
	font-size: 34px;
	font-weight: bold;
}

.notPublished {
	font-size: 34px;
	font-family: Stencil;
	color: red;
}

.simpleForm {
	background-color: #CCC;
	padding: 5px;
}

.formHeadingLabel {
	font-size: larger;
	font-weight: bold;
	text-decoration: underline;
}

.formLabel {
	text-align: right;
	padding-left: 1.5em;
	padding-right: 0.5em;
	padding-top: 3px;
	white-space: nowrap;
}

.formLine {
	vertical-align: top;
}

.formLabelColumn {
	text-align: right;
	vertical-align: top;
	width: 20%;
}

.formContentColumn {
	width: 80%;
}

.resourceSelectionRow {
	background-color: white;
}

.multiSelectPanel {
	background-color: white;
	border: none;
}

.gwt-DialogBox .Caption {
	background: #0057c0;
	color: white;
	padding: 4px 8px 4px 4px;
	cursor: default;
	font-family: Calibri;
	font-size: x-large;
	font-weight: bold;
	border-bottom: none;
	border-top: none;
}

.gwt-ListBox {
	border: none;
	height: 2em;
}

.datePickerDay {
	border: 1px solid white;
	font-family: font-family : 'Roboto', sans-serif;
	font-smooth: always;
	font-size: large;
	font-weight: normal;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
	cursor: no-drop;
}

.datePickerDayIsToday {
	padding: 3px;
	color: #1DA284;
	background: none;
	font-weight: bold;
}

.datePickerDayIsValue {
	background: #d7dfe8;
	border: 1px solid red;
	border-radius: 16px;
	font-weight: bold;
}

.datePickerDayIsWeekend {
	background: #ffb5ae;
}

.slotHourLabel {
	font-weight: bold;
	font-size: xx-large;
	width: 1em;
	height: 1em;
}

.slotMinuteLabel {
	font-weight: normal;
	font-size: small;
	width: 2em;
	height: 2em;
}

.theSlot {
	width: 25em;
	height: 1em;
	font-family: Segoe Script;
	font-size: x-large;
}

.dailySlotsPanel {
	width: 100%;
	background-color: white;
}

.placesAvailable {
	background-color: #c2ffc2;
}

.placesAvailable:hover {
	background-color: #FBC02D;
}

.complete {
	background-color: #ffb5ae;
}

.slotDisabled {
	background-color: #DFDFDF;
	cursor: no-drop;
}

.slotsHeaderDayName {
	font-size: x-large;
	font-weight: bold;
	border: none;
}

.slotSelectionHeader {
	height: 2em;
	font-size: x-large;
	border-bottom: 1px solid #DDD;
	width: 100%;
}

.slotsHeaderLocation {
	font-size: x-large;
	font-weight: bolder;
	border: none;
}

.resourceSelectorPanel {
	background-color: white;
	padding-left: 3px;
}

.tabContent {
	/*	border-top: 1px #DDD solid;
	border-left: 1px #DDD solid;*/
	
}

.applicationTitle {
	color: #9E9E9E;
	font-weight: 100;
	font-size: 38px;
	padding-left: 5px;
	padding-right: 5px;
}

.hilite {
	background-color: red;
	border-radius: 20px;
}

.vExpandable {
	z-index: 3000;
	background-color: white;
	transition: height 0.75s;
	/*	box-shadow: 3px 3px 5px #DDD; */
}

.tExpandable {
	transition: top 0.75s;
}

.gwt-DatePicker {
	border: none;
	cursor: default;
}

.gwt-TextBox {
	padding: 0px;
	border: none;
	font-size: inherit;
	font-family: inherit;
	height: 2em;
}

.gwt-PasswordTextBox {
	padding: 0px;
	border: none;
	font-size: inherit;
	font-family: inherit;
	height: 2em;
}

.gwt-TextArea {
	padding: 0px;
	border: none;
	font-size: inherit;
	font-family: inherit;
}

.menuPanel {
	background-color: #004494;
	width: 100%;
	height: 100%;
}

.mainMenuItemTextBox {
	color: white;
	background-color: #004494;
	font-weight: bold;
	font-size: xx-large;
	border: none;
}

.mainMenuItemTextBox:focus {
	color: black;
	background-color: white;
}

.gwt-PopupPanel {
	border: 1px solid #DDD;
	box-shadow: 5px 5px 10px black;
	padding: 3px;
	background: white;
}

.editableComboBoxPopupItem {
	font-weight: bolder;
	width: 100%;
	cursor: pointer;
}

.editableComboBoxPopupItem:hover {
	background-color: #004494;
	color: white;
}

.menuItemHeader {
	background-color: inherit;
	color: white;
	font-size: xx-large;
	font-style: italic;
	padding: 3px;
}

.menuItem {
	background-color: inherit;
	color: white;
	border-left: 5px solid transparent;
	font-size: x-large;
	padding: 5px;
	width: 100%;
}

.menuItem:focus {
	outline: none;
}

.menuItem:hover {
	border-left: 5px solid #FBC02D;
	cursor: pointer;
}

.menuItem-selected {
	border-left: 5px solid #FBC02D;
	font-weight: bold;
}

.campaignSettingsHeader {
	padding: 0.5em;
	color: #004494;
	font-size: x-large;
	font-style: italic;
	font-weight: bold;
}

.menuResourceSearchBox {
	background-color: #004494;
	color: white;
	font-size: large;
	border: none;
}

.menuResourceSearchBox-empty {
	background-color: inherit;
	color: #DDD;
	font-style: italic;
}

.menuResourceSearchBox:focus {
	background-color: white;
	color: black;
}

.menuResourceSearchBox:hover {
	cursor: pointer;
}

.menuItemDeleteButton {
	padding-top: 0.3em;
	width: 5em;
	height: 2em;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: normal;
}

.mainItem {
	border-bottom: 1px white solid;
}

.city {
	background-image: none;
}

.city-LUX {
	background-image: "assets/images/lux.jpg"
}

.dynamicHyperLink {
	color: black;
}

.dynamicHyperLink:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.postItText {
	font-weight: bolder;
	font-size: larger;
}

.instructionsHeading {
	font-size: xx-large;
	font-weight: bold;
}

.instructionsBullet {
	background-color: #004494;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.instructionsBulletText {
	font-size: large;
	font-weight: bold;
}

.disclaimerLink {
	color: white;
}

.versionText {
	color: white;
	font-family: Courier;
}

.disabled {
	background-color: #DDD;
	opacity: 0.7;
}

.mspButton {
	border-radius: 8px;
	height: 16px;
	width: 16px;
}

.mspButton:hover {
	background-color: #FBC02D;
	cursor: pointer;
}

.resourceNameWrapper {
	background-color: white;
}

.slotSearchBox {
	height: 2em;
	font-size: medium;
	font-family: Calibri;
	border: 1px solid #DDD;
	border-left: 5px solid #DDD;
}

.stateLabel {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.stateLabel-regular {
	background-color: blue;
	color:white;
}

.stateLabel-terminal {
	background-color: green;
	color:white;
}

.stateLabel-initial {
	background-color: orange;
	color:black;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background-color: #FBC02D;
	cursor: pointer;
}
